
<div class="container">
  <div id="nav">
    <div class="menu-item">
      menu_1
      <div class="submenu">
        submenu
      </div>
    </div>
    <div class="menu-item">
      menu_2
      <div class="submenu">
        submenu
      </div>
    </div>
    <div class="menu-item">
      menu_3
      <div class="submenu">
        submenu
      </div>
    </div>
  </div>
</div>

<script src="page2.js"></script>