
<div class="container">

  <input type="range" min="0" max="1000" step="1" oninput="rang()" id="rng" class="form-control-range" value="0">
  <p id="val"></p>
  <input type="text" id="inp" class="form-control">
  <p> </p>
  <div id="grdv"></div>
</div>

<script src="page1.js"></script>
