// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

#grdv {
  height: 20px;
  width: 20px;
  background: green;
};

.menu-item {
  border: 2px solid #B00100;
  display: inline-block;
  position: relative;
  cursor: pointer;
};

.menu-item .submenu {
  height: 40px;
  width: 120px;
  background: darkorange;
  position: absolute;
  cursor: pointer;
};
